################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
tests/nic_egress_proxy_app
tests/nic_proxy_app
tests/qp_test
tests/qp_test_thread_ver
tests/memhog

.vscode/settings.json
