// As simple as it gets: 1-core system with 2 short processes

sys = {

    frequency = 2500;
    #networkFile = "/nethome/acho44/zsim/zSim/tests/network.conf";

    cores = {
    	NicInCore = {
            type = "OOO";
            dcache = "ncinl1d";
            icache = "ncinl1i";
            ingress = "llc";
            egress = "llc_non_inval";
        };
        NicEgCore = {
            type = "OOO";
            dcache = "ncoutl1d";
            icache = "ncoutl1i";
            ingress = "llc";
            egress = "llc_non_inval";
        };
        herdSpawnCore = {
            //cores=2;
            type = "OOO";
            dcache = "hscl1d";
            icache = "hscl1i";
            ingress = "llc";
            egress = "llc_non_inval";
        };

        OCore1 = {
			cores = 24; //num_server
            type = "OOO";
            dcache = "cl1d";
            icache = "cl1i";
            app_core = 1;
            ingress = "llc";
            egress = "llc_non_inval";
        };
    };


    lineSize = 64;

 
    caches = {
        ncinl1d = {
            //size = 32768; //65536;
            size = 1048576; //49152; //65536;
        };
        ncinl1i = {
            //size = 32768;
            size = 1048576; //49152; //65536;
        };
        ncoutl1d = {
            //size = 49152; //65536;
            size = 1048576; //49152; //65536;
        };
        ncoutl1i = {
            //size = 32768;
            size = 1048576; //49152; //65536;
        };
       	hscl1d = {
            //caches = 2;
            //size = 49152; //65536;
            size = 1048576; //49152; //65536;
        };
        hscl1i = {
            //caches = 2;
            //size = 32768;
            size = 1048576; //49152; //65536;
        };

        cl1d = {
			caches = 24; //num_server
            size = 49152; //65536;
            array = {
                type = "SetAssoc";
                ways = 8;
            }
            latency = 4;
        };
        cl1i = {
			caches =24; //16; //num_server
            size = 32768;
            array = {
                type = "SetAssoc";
                ways = 8;
            }
            latency = 4;
        };
        l2 = {
            caches = 24; //num_server 
            //size = 1048576;
            size = 1310720;
            children = "cl1d|cl1i";  // interleave 
            latency = 14;
            array = {
                type = "SetAssoc";
                ways = 20;
            };

        };
        l3 = {
            banks = 24;
            caches = 1;
            latency = 35;
            //size = 28311552; //24.75 MB  //16777216;        // 16 MB
            //size = 25952256; //24.75 MB  //16777216;        // 16 MB
            size = 37748736; //36MB
            //size = 37739520; //36MB
            type="Timing";
            nonInclusiveHack = True;
			mshrs = 32;
            children = "ncinl1i|ncinl1d ncoutl1i|ncoutl1d hscl1i|hscl1d l2";
            array = {
                type = "SetAssoc";
                //ways = 16;
                ways = 12;
            }
            repl = {
                type = "DDIOPart";
                partMapper = "DDIO";
                ddio_ways = 8;

				mapping = {
					process2 = "4,5,6,7,8,9,10,11"
					process3 = "0,1,2,3"
					//process3 = "0,1"
				}

            }
        }
    };

	//mem = {
    //    type = "Simple";
    //    latency = 150;
    //    controllers = 6;
    //    //tech = "DDR3-1066-CL8";
    //};

    mem = {
        type = "DDR";
        //latency = 100;
        controllers = 6;
        tech = "DDR4-2400";
		splitAddrs=False;
    	//tech = "DDR3-1333-CL10";
        //tech = "DDR3-1066-CL8";
    };
};

sim = {
    phaseLength = 1000;
	//packet_count = 100000;
	packet_count = 500000;
	//packet_count = 30000;
    schedQuantum = 50;  // switch threads frequently
    
    // attachDebugger = True;
    //procStatsFilter = "l1.*|l2.*";
    num_cores_serving_nw = 12; //num_server
    num_non_net_cores = 1;

    send_in_loop=false;
	load_dist=0; //0: uniform, 1: skew(zipf)
	arrival_dist=0; //0: uniform, 1: piosson
	load_balance=0; //0: perfect, 1: random
    forced_packet_size=512;
	recv_buf_pool_size = 1048576

	clean_recv=0;
    mat_N = 10;
    mm_cores = 12;
    
	gmMBytes=65536;

    load_gen = {
        lg1={
            //type=0; //0: HERD
            type=1; //1: l3fwd
            packet_injection_rate=10;
            num_keys=16;
            update_fraction=5; 
            assoc_cores=12; //num_server
        }
        //lg2={
        //    type=0;
        //    packet_injection_rate=10;
        //    num_keys=8192;
        //    update_fraction=5;
        //    assoc_cores=6;
        //}
    }

};

process0 = {
    command = "./nic_proxy_app";
};

process1 = {
    command = "./nic_egress_proxy_app";
};


process2 = {
dumpsResetHeartbeats=true;
dumpHeartbeats=12L;
	command = "./l3fwd \
--start-core 3 \
--batchsize 1 \
--packet-size 512 \
--total-nodes 1 \
--qps-to-create 12 \
--num-threads 12 \
--num-keys 16 \
--log-capacity-bytes 4194304";
};

process3 = {
    //command = "./xmem-linux-x64 -t -r -R -j6 -d21 -u \
    command = "./xmem-linux-x64 -t -r -R -j12 -d15 -u \
	-w2048 \
	"
	syncedFastForward="Never";
}
//process4 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -d22 -u \
//	-w2048 \
//	"
//}
//process5 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -d23 -u \
//	-w2048 \
//	"
//}
//process6 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -d24 -u \
//	-w2048 \
//	"
//}
//process7 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -d25 -u \
//	-w2048 \
//	"
//}
//process8 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -d26 -u \
//	-w2048 \
//	"
//}
//#process3={
//#    command = "./matmul --start-core 21 --num-threads 6 \
//#    --mlen 640 \
//#    ";
//#}




//process3={
//    command = "./memhog --core_id 15";
//}
//process4={
//    command = "./memhog --core_id 16";
//}



//process3 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -w32768 -d15 -u"
//}
//
//process4 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -w32768 -d16 -u"
//}
//
//process5 = {
//    command = "./xmem-linux-x64 -t -r -R -j1 -w32768 -d17 -u"
//}
